 ot-view[ot-view-type="OTDCPWSidebarView"]{
    .ot-facets-text-filter-holder{
       position: relative;
        display: block;
        width: ~"calc(100% - 2rem)";
        border-bottom: 0.063rem solid #dcdcdc;
        padding: 1rem;
    }
    .ot-facets-text-filter {
      width: ~"calc(100% - 0.5rem - 3rem)";
      padding-right: 3rem;
    }
    .ot-facets-search-clear {
      right: ~"calc(2rem + 18px)";
    }
    .ot-facets-search-button{
        position: absolute;
    }
}