.otdcpw-uploadTaxonomyScreen {
  height: 98%;
}

.otdcpw-header {
  margin-left: 10px;
}

.otdcpw-uploadForm {
  border: 1px solid #000;
  margin: 10px;
  height: 80vh;
  padding-top: 20px;
}

.otdcpw-grid-container {
  display: grid;
  grid-template-columns: .16fr 1fr;
  gap: 16px;
  width: auto;
}

.otdcpw-grid-item {
  padding: 16px;
}


.otdcpw-required {
  color: red;
}

.otdcpw-custom-dropdown {
  position: relative;
  display: inline-block;
  width: 50%;
}

.otdcpw-alignLeft {
  float: left;
  text-align: left;
  font-weight: 600;
}

.otdcpw-selected-option {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.otdcpw-pad10 {
  padding: 10px;
}

.otdcpw-selected-option i {
  margin-left: 10px;
}

.otdcpw-display-none {
  display: none;
}

.otdcpw-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.otdcpw-option {
  padding: 10px;
  cursor: pointer;
}

.otdcpw-option:hover {
  background-color: #f4f4f4;
}

.otdcbuttons {
  margin: 10px;
}

.otdc-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between !important;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.otdc-X-icon {
  border: 0px;
  background: #FFFFFF;
  font-size: x-large;
}