nav {
    width: 100px;
}

.navbar {
    padding: .1rem 1rem !important;
    padding-left: 0 !important;
}

.profile-img {
    border-radius: 50%;
    height: 42px;
    width: 42px;
    vertical-align: middle;
    margin-left: 11px;
}

.navbar-nav .show .dropdown-menu {
    position: absolute !important;
    background-color: rgba(65, 64, 66, 0.98) !important;
    outline: none !important;
    background-repeat: no-repeat !important;
    right: 0rem !important;
    border-radius: 10px !important;
    border-top-right-radius: unset !important;
    top: 2.9em !important;
    min-width: 8rem !important;
    left: auto !important;
}

.dropdown-item {
    padding-left: 1em;
    color: #ffffff;
    overflow: hidden;

    &:hover {
        background-color: rgb(98, 119, 131);
    }
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #ffffff;
}

.username {
    text-overflow: ellipsis;
}

.lastlogin {
    display: block;
    font-size: x-small;
}