@logoUrl: '../../../assets/images/DAMLink-logo.svg';

.menu-bar {
    height: 4em;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    display: inline-flex;
    width: 99%;
}

.options-right {
    float: right;
    display: flex;
}

.support-div {
    height: 100%;
    padding-top: 15px;
}

.support-link {
    color: #FFF;
    vertical-align: middle;
    padding-top: 100px;
}

.separator {
    border-left: 2px solid #CCC;
    height: 20px;
    margin-left: 20px;
    color: #FFFFFF;
    margin-top: 20px;
}

.logo-panel {
    display: contents;

    img, svg {
        vertical-align: baseline !important;
    }
}

.logo {
    height: 32px;
    color: #FFFFFF;
}

.version {
    padding-top: 18px;
    display: inline-flex;
    color: white;
}

.menu-logo {
    display: contents;
}

.menu-actions {
    width: -webkit-fill-available;
    display: flex;
    width: -moz-available;
}

.menu-user-actions {
    display: inline-flex;
}

.logo-img {
    height: 32px;
    margin-top: 15px;
}

.logo-admin {
    height: 16px;
    margin-top: 22px;
    margin-left: 200px;
}